html{
  background-color: #e6ecf0;
}
.App {
  text-align: center;
  background-color: #a7b9cf;
}

#here{
  background-color: #e6ecf0;
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #9fa2a6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
}


.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6ecf0;
}

#choices{
  height: 60px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  margin-left: 25px;
  margin-right: 25px;
  background-color: #9fa2a6;
}
